h2 {
    text-align: center;
}

button {
    font-size: large;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.next-button-container {
    display: flex;
    justify-content: flex-end;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.general-info-container {
    padding: 5% 5% 0% 5%;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container fieldset {
    display: flex;
    flex-direction: column;
}

.contact-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}

.submit-button-container button {
    margin-top: 5%;
    font-size: large;
}

.profile-summary-container {
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.hourly-rate-container {
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.hourly-rate-container .inputs {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.almost-done-container {
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.almost-done-container .inputs {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.language-container {
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

.language-container .inputs {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.profession-container {
    padding: 5% 5% 0% 5%;
    display: flex;
    flex-direction: column;
}

mat-spinner {
    position: relative;
    left: auto;
}
