mat-card {
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
}

mat-card-content {
    padding: 5% 10% 0 10%;
}

.spacer {
    flex: 1;
}

button {
    font-size: large;
}

.register {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-grow: 1;
}

.system-user-container, .domain-user-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container div {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.register button {
    margin-top: 5%;
}

.divider-container {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider-container .line {
    flex: 1;
}

.divider-container .text {
    padding-left: 10px;
    padding-right: 10px;
}

.integration-login {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.integration-login button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.integration-login button mat-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 3%;
    transform: scale(1.5);
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
}

.google-button {
    background-color: #34A853;
}

.login-info-container {
    margin-top: 7%;
    text-align: center;
    padding-bottom: 5%;
}
