<div class="container">
    <div class="filters">
        <h2>Filter By</h2>
        <mat-expansion-panel>
            <mat-expansion-panel-header>Professions</mat-expansion-panel-header>
            <div class="expansion-panel-content">
                <mat-checkbox *ngFor="let profession of professions" (change)="onProfessionChange($event, profession.id)">
                    {{profession.name}}
                </mat-checkbox>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>Experience level</mat-expansion-panel-header>
            <div class="expansion-panel-content">
                <mat-checkbox (change)="onExperienceLevelChange($event, experienceLevels.JUNIOR)">
                    Junior
                </mat-checkbox>
                <mat-checkbox (change)="onExperienceLevelChange($event, experienceLevels.MEDIOR)">
                    Medior
                </mat-checkbox>
                <mat-checkbox (change)="onExperienceLevelChange($event, experienceLevels.SENIOR)">
                    Senior
                </mat-checkbox>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>Payment</mat-expansion-panel-header>
            <div class="expansion-panel-content">
                <mat-checkbox (change)="onPaymentTypeChange($event, paymentTypes.FIXED_RATE)">
                    Fixed
                </mat-checkbox>
                <mat-checkbox (change)="onPaymentTypeChange($event, paymentTypes.HOURLY_RATE)">
                    Hourly rate
                </mat-checkbox>
            </div>
        </mat-expansion-panel>
    </div>
    <div class="search-container">
        <div class="search">
            <input [(ngModel)]="jobSearchParams.fullTextSearch" type="text" placeholder="Search for jobs">
            <div class="search-button" (click)="search()">
                <mat-icon>search</mat-icon>
            </div>
        </div>
        <div class="job" *ngFor="let job of jobs" (click)="apply(job.id)">
            <div class="title">
                <h2>{{job.title}}</h2>
                <span class="spacer"></span>
                <span class="date">
                    {{job.created.toLocaleDateString('en-US', {
                        month: 'short',
                        day: 'numeric',
                        year: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: false,
                        timeZone: 'UTC',
                      })}}
                </span>
            </div>
            <div class="description">{{job.description}}</div>
            <mat-divider></mat-divider>
            <div class="payment-experience-level">
                <div class="payment">
                    <span class="icon-text-align">
                        <mat-icon>payments</mat-icon>&nbsp;
                        {{job.payment.amount + ' ' + job.payment.currency + ', ' + enumConverter.paymentTypeToString(job.payment.type)}}
                    </span>
                </div>
                <div class="experience-level">
                    <span class="icon-text-align">
                        <mat-icon>bolt</mat-icon>&nbsp;
                        {{enumConverter.experienceLevelToString(job.experienceLevel)}}
                    </span>
                </div>
                <div class="credits">
                    <span class="icon-text-align">
                        <mat-icon>wallet</mat-icon>&nbsp;
                        Credits:&nbsp;{{job.credits}}
                    </span>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="proposals">
                <span><b>Proposals:</b> {{job.numOfProposals}}</span>
                <span><b>Interviewing:</b> {{job.numOfCurrInterviews}}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="client">
                <div class="rating">
                    <div>
                        <mat-icon color="primary" *ngFor="let index of getRange(job.clientAverageRating)">grade</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
