{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "Starting template for an AWS Serverless Application. This template is partially managed by Amazon.Lambda.Annotations (v1.4.0.0).",
  "Parameters": {},
  "Resources": {
    "TestFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "FunctionName": "TestFunction",
        "Handler": "Test::Test.Function::FunctionHandler",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "Description": "Default function",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": "arn:aws:iam::891376935045:role/FreelancerProfileLambdaCommandRole",
        "Policies": [
          "AWSLambda_FullAccess"
        ],
        "Layers": [
          "arn:aws:lambda:eu-central-1:891376935045:layer:FreelancerProfilePersistanceWriteModel:1",
          "arn:aws:lambda:eu-central-1:891376935045:layer:CommonLayer:2",
          "arn:aws:lambda:eu-central-1:891376935045:layer:FreelancerProfileDomain:1"
        ]
      }
    }
  }
}